body{
    background-image: url(./Background_2.jpg);
    background-position: center;
}
.calc{
    width: 320px;
    margin: 100px auto;
}
#answer{
   background-color:azure;
   padding: 10px;
   font-size: 35px;
   width: 295px;
   height: 45px;
   text-align: right;
   border: 3px solid #333;    
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:yellow    ;
}
.button{
    background-color: aqua;
    font-size: 30px;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-width: 3px;
    border-color: black;
    font-weight: bolder;
    position: center;
    animation-name: blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.button:hover{
    background-color: wheat;
    color: black;
}

.button1{
    width: 160px;
    background-color: blue;
}